@model EmprestimosModel;
@{
    ViewData["Title"] = "Excluir Empréstimo";
}

<div class="container bg-light p-5 rounded-4">
    <div class="mb-5 text-center">
        <h1 class="text-dark">Excluir</h1>
    </div>

    <form method="post" asp-controller="Emprestimo" asp-action="Excluir">
        <input type="hidden" asp-for=Id />

        <h3 class="text-danger" >Tem certeza que deseja EXCLUIR o registro??</h3>

        <div class="mb-4">
            <label for="Recebedor" class="form-label text-dark">Recebedor:</label>
            <input type="text" class="form-control" asp-for="Receber" id="Recebedor" placeholder="Quem está Recebendo?" disabled>
            <span class="text-dark" asp-validation-for="Receber" ></span>
        </div>

        <div class="mb-4">
            <label for="Fornecedor" class="form-label text-dark">Fornecedor:</label>
            <input type="text" class="form-control" asp-for="Fornecedor" id="Fornecedor" placeholder="Quem está emprestando?" disabled>
            <span class="text-danger" asp-validation-for="Fornecedor" ></span>
        </div>

        <div class="mb-2">
            <label for="Livro" class="form-label text-dark">Livro:</label>
            <input type="text" class="form-control" asp-for="LivroEmprestado" id="Livro" placeholder="Nome da Obra?" disabled>
            <span class="text-danger"  asp-validation-for="LivroEmprestado" ></span>
        </div>

        <div class="d-flex gap-6 mt-3">
            <button type="submit" class="btn btn-danger w-50  mx-2">EXCLUIR</button>
            <a class="btn btn-primary w-50  mx-2" asp-controller="Emprestimo" asp-action="Index">Voltar a Lista de Empréstimos</a>
        </div>
    </form>
</div>
